@model HRMS.Models.Department


<div class="admin-form theme-primary">

    <div class="panel heading-border panel-primary">
        <div class="panel-body bg-light">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="section-divider mb40" id="spy1">
                    <span>Department</span>
                </div>


                                <!-- .section-divider -->
                <!-- Basic Inputs -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Department Name" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Department Code" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <label class="field">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-offset-1"></div>
                    <div class="col-md-6">

                    </div>
                </div>


                <!-- end .form-body section -->
                <div class="panel-footer ">
                    <button type="submit" class="button btn-primary">Submit</button>
                </div>
                <!-- end .form-footer section -->
            }
        </div>
    </div>
</div>




