<!DOCTYPE html>
<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>AbsoluteAdmin - A Responsive Bootstrap 3 Admin Dashboard Template</title>
    <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
    <meta name="description" content="AbsoluteAdmin - A Responsive HTML5 Admin UI Framework">
    <meta name="author" content="AbsoluteAdmin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <!-- FullCalendar Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/plugins/fullcalendar/fullcalendar.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/skin/default_skin/css/theme.css">
    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/admin-tools/admin-forms/css/admin-forms.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard-page">

    <!-------------------------------------------------------------+
      <body> Helper Classes:
    ---------------------------------------------------------------+
      '.sb-l-o' - Sets Left Sidebar to "open"
      '.sb-l-m' - Sets Left Sidebar to "minified"
      '.sb-l-c' - Sets Left Sidebar to "closed"

      '.sb-r-o' - Sets Right Sidebar to "open"
      '.sb-r-c' - Sets Right Sidebar to "closed"
    ---------------------------------------------------------------+
     Example: <body class="example-page sb-l-o sb-r-c">
     Results: Sidebar left Open, Sidebar right Closed
    --------------------------------------------------------------->
    <!-- Start: Main -->
    <div id="main">
        <!-----------------------------------------------------------------+
           ".navbar" Helper Classes:
        -------------------------------------------------------------------+
           * Positioning Classes:
            '.navbar-static-top' - Static top positioned navbar
            '.navbar-static-top' - Fixed top positioned navbar

           * Available Skin Classes:
             .bg-dark    .bg-primary   .bg-success
             .bg-info    .bg-warning   .bg-danger
             .bg-alert   .bg-system
        -------------------------------------------------------------------+
          Example: <header class="navbar navbar-fixed-top bg-primary">
          Results: Fixed top navbar with blue background
        ------------------------------------------------------------------->
        <!-- Start: Header -->
        @Html.Partial("HeaderView")
        <!-- End: Header -->
        <!-----------------------------------------------------------------+
       "#sidebar_left" Helper Classes:
    -------------------------------------------------------------------+
       * Positioning Classes:
        '.affix' - Sets Sidebar Left to the fixed position

       * Available Skin Classes:
         .sidebar-dark (default no class needed)
         .sidebar-light
         .sidebar-light.light
    -------------------------------------------------------------------+
       Example: <aside id="sidebar_left" class="affix sidebar-light">
       Results: Fixed Left Sidebar with light/white background
    ------------------------------------------------------------------->
        <!-- Start: Sidebar -->
        @Html.Partial("MenuLeftView")
        <!-- End: Sidebar Left -->
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- Start: Topbar-Dropdown -->
            <div id="topbar-dropmenu" class="alt">
                <div class="topbar-menu row">
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile bg-primary light">
                            <span class="glyphicon glyphicon-inbox text-muted"></span>
                            <span class="metro-title">Messages</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile bg-info light">
                            <span class="glyphicon glyphicon-user text-muted"></span>
                            <span class="metro-title">Users</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile bg-success light">
                            <span class="glyphicon glyphicon-headphones text-muted"></span>
                            <span class="metro-title">Support</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile bg-system light">
                            <span class="glyphicon glyphicon-facetime-video text-muted"></span>
                            <span class="metro-title">Videos</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile bg-warning light">
                            <span class="fa fa-gears text-muted"></span>
                            <span class="metro-title">Settings</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile bg-alert light">
                            <span class="glyphicon glyphicon-picture text-muted"></span>
                            <span class="metro-title">Pictures</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End: Topbar-Dropdown -->
            <!-- Start: Topbar -->
            <header id="topbar" class="alt">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="crumb-active">
                            <a href="dashboard.html">Dashboard</a>
                        </li>
                        <li class="crumb-icon">
                            <a href="dashboard.html">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-link">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="crumb-trail">Dashboard</li>
                    </ol>
                </div>
                <div class="topbar-right">
                    <div class="ib topbar-dropdown">
                        <label for="topbar-multiple" class="control-label pr10 fs11 text-muted">Reporting Period</label>
                        <select id="topbar-multiple" class="hidden">
                            <optgroup label="Filter By:">
                                <option value="1-1">Last 30 Days</option>
                                <option value="1-2" selected="selected">Last 60 Days</option>
                                <option value="1-3">Last Year</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="ml15 ib va-m" id="toggle_sidemenu_r">
                        <a href="#" class="pl5">
                            <i class="fa fa-sign-in fs22 text-primary"></i>
                            <span class="badge badge-danger badge-hero">3</span>
                        </a>
                    </div>
                </div>
            </header>
            <!-- End: Topbar -->


            @RenderBody()

        </section>
        <!-- End: Content-Wrapper -->
        <!-- Start: Right Sidebar -->
        <aside id="sidebar_right" class="nano affix">
            <!-- Start: Sidebar Right Content -->
            <div class="sidebar-right-content nano-content">
                <div class="tab-block sidebar-block br-n">
                    <ul class="nav nav-tabs tabs-border nav-justified hidden">
                        <li class="active">
                            <a href="#sidebar-right-tab1" data-toggle="tab">Tab 1</a>
                        </li>
                        <li>
                            <a href="#sidebar-right-tab2" data-toggle="tab">Tab 2</a>
                        </li>
                        <li>
                            <a href="#sidebar-right-tab3" data-toggle="tab">Tab 3</a>
                        </li>
                    </ul>
                    <div class="tab-content br-n">
                        <div id="sidebar-right-tab1" class="tab-pane active">
                            <h5 class="title-divider text-muted mb20">
                                Server Statistics
                                <span class="pull-right">
                                    2013
                                    <i class="fa fa-caret-down ml5"></i>
                                </span>
                            </h5>
                            <div class="progress mh5">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                                    <span class="fs11">DB Request</span>
                                </div>
                            </div>
                            <div class="progress mh5">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                                    <span class="fs11 text-left">Server Load</span>
                                </div>
                            </div>
                            <div class="progress mh5">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 61%">
                                    <span class="fs11 text-left">Server Connections</span>
                                </div>
                            </div>
                            <h5 class="title-divider text-muted mt30 mb10">Traffic Margins</h5>
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3 class="text-primary mn pl5">132</h3>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <h3 class="text-success-dark mn">
                                        <i class="fa fa-caret-up"></i> 13.2%
                                    </h3>
                                </div>
                            </div>
                            <h5 class="title-divider text-muted mt25 mb10">Database Request</h5>
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3 class="text-primary mn pl5">212</h3>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <h3 class="text-success-dark mn">
                                        <i class="fa fa-caret-up"></i> 25.6%
                                    </h3>
                                </div>
                            </div>
                            <h5 class="title-divider text-muted mt25 mb10">Server Response</h5>
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3 class="text-primary mn pl5">82.5</h3>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <h3 class="text-danger mn">
                                        <i class="fa fa-caret-down"></i> 17.9%
                                    </h3>
                                </div>
                            </div>
                            <h5 class="title-divider text-muted mt40 mb20">
                                Server Statistics
                                <span class="pull-right text-primary fw600">USA</span>
                            </h5>

                        </div>
                        <div id="sidebar-right-tab2" class="tab-pane"></div>
                        <div id="sidebar-right-tab3" class="tab-pane"></div>
                    </div>
                    <!-- end: .tab-content -->
                </div>
            </div>
        </aside>
        <!-- End: Right Sidebar -->
</div>
    <!-- End: Main -->

        <!-- BEGIN: PAGE SCRIPTS -->
        <!-- jQuery -->
        <script src="~/Content/vendor/jquery/jquery-1.11.1.min.js"></script>
        <script src="~/Content/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
        <!-- HighCharts Plugin -->
        <script src="~/Content/vendor/plugins/highcharts/highcharts.js"></script>
        <!-- JvectorMap Plugin + US Map (more maps in plugin/assets folder) -->
        <script src="~/Content/vendor/plugins/jvectormap/jquery.jvectormap.min.js"></script>
        <script src="~/Content/vendor/plugins/jvectormap/assets/jquery-jvectormap-us-lcc-en.js"></script>
        <!-- Bootstrap Tabdrop Plugin -->
        <script src="~/Content/vendor/plugins/tabdrop/bootstrap-tabdrop.js"></script>
        <!-- FullCalendar Plugin + moment Dependency -->
        <script src="~/Content/vendor/plugins/fullcalendar/lib/moment.min.js"></script>
        <script src="~/Content/vendor/plugins/fullcalendar/fullcalendar.min.js"></script>
        <!-- Theme Javascript -->
        <script src="~/Content/assets/js/utility/utility.js"></script>
        <script src="~/Content/assets/js/main.js"></script>
        <!-- Widget Javascript -->
    <script src="~/Content/assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {

                "use strict";

                // Init Theme Core
                Core.init();


                // Init Widget Demo JS
                // demoHighCharts.init();
                $('#createEmpDatePicker').datepicker({
                    numberOfMonths: 3,
                    showOn: 'both',
                    buttonText: '<i class="fa fa-calendar-o"></i>',
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    beforeShow: function (input, inst) {
                        var newclass = 'admin-form';
                        var themeClass = $(this).parents('.admin-form').attr('class');
                        var smartpikr = inst.dpDiv.parent();
                        if (!smartpikr.hasClass(themeClass)) {
                            inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
                        }
                    }
                });

                // Because we are using Admin Panels we use the OnFinish
                // callback to activate the demoWidgets. It's smoother if
                // we let the panels be moved and organized before
                // filling them with content from various plugins

                // Init plugins used on this page
                // HighCharts, JvectorMap, Admin Panels

                // Init Admin Panels on widgets inside the ".admin-panels" container
                $('.admin-panels').adminpanel({
                    grid: '.admin-grid',
                    draggable: true,
                    preserveGrid: true,
                    // mobile: true,
                    onStart: function () {
                        // Do something before AdminPanels runs
                    },
                    onFinish: function () {
                        $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');

                        // Init the rest of the plugins now that the panels
                        // have had a chance to be moved and organized.
                        // It's less taxing to organize empty panels
                        demoHighCharts.init();
                        runVectorMaps(); // function below
                    },
                    onSave: function () {
                        $(window).trigger('resize');
                    }
                });


                // Init plugins for ".calendar-widget"
                // plugins: FullCalendar
                //
                $('#calendar-widget').fullCalendar({
                    // contentHeight: 397,
                    editable: true,
                    events: [{
                        title: 'Sony Meeting',
                        start: '2015-05-1',
                        end: '2015-05-3',
                        className: 'fc-event-success',
                    }, {
                        title: 'Conference',
                        start: '2015-05-11',
                        end: '2015-05-13',
                        className: 'fc-event-warning'
                    }, {
                        title: 'Lunch Testing',
                        start: '2015-05-21',
                        end: '2015-05-23',
                        className: 'fc-event-primary'
                    },
                    ],
                    eventRender: function (event, element) {
                        // create event tooltip using bootstrap tooltips
                        $(element).attr("data-original-title", event.title);
                        $(element).tooltip({
                            container: 'body',
                            delay: {
                                "show": 100,
                                "hide": 200
                            }
                        });
                        // create a tooltip auto close timer
                        $(element).on('show.bs.tooltip', function () {
                            var autoClose = setTimeout(function () {
                                $('.tooltip').fadeOut();
                            }, 3500);
                        });
                    }
                });


                // Init plugins for ".task-widget"
                // plugins: Custom Functions + jQuery Sortable
                //
                var taskWidget = $('div.task-widget');
                var taskItems = taskWidget.find('li.task-item');
                var currentItems = taskWidget.find('ul.task-current');
                var completedItems = taskWidget.find('ul.task-completed');

                // Init jQuery Sortable on Task Widget
                taskWidget.sortable({
                    items: taskItems, // only init sortable on list items (not labels)
                    handle: '.task-menu',
                    axis: 'y',
                    connectWith: ".task-list",
                    update: function (event, ui) {
                        var Item = ui.item;
                        var ParentList = Item.parent();

                        // If item is already checked move it to "current items list"
                        if (ParentList.hasClass('task-current')) {
                            Item.removeClass('item-checked').find('input[type="checkbox"]').prop('checked', false);
                        }
                        if (ParentList.hasClass('task-completed')) {
                            Item.addClass('item-checked').find('input[type="checkbox"]').prop('checked', true);
                        }

                    }
                });

                // Custom Functions to handle/assign list filter behavior
                taskItems.on('click', function (e) {
                    e.preventDefault();
                    var This = $(this);
                    var Target = $(e.target);

                    if (Target.is('.task-menu') && Target.parents('.task-completed').length) {
                        This.remove();
                        return;
                    }

                    if (Target.parents('.task-handle').length) {
                        // If item is already checked move it to "current items list"
                        if (This.hasClass('item-checked')) {
                            This.removeClass('item-checked').find('input[type="checkbox"]').prop('checked', false);
                        }
                            // Otherwise move it to the "completed items list"
                        else {
                            This.addClass('item-checked').find('input[type="checkbox"]').prop('checked', true);
                        }
                    }

                });


                var highColors = [bgSystem, bgSuccess, bgWarning, bgPrimary];

                // Chart data
                var seriesData = [{
                    name: 'Phones',
                    data: [5.0, 9, 17, 22, 19, 11.5, 5.2, 9.5, 11.3, 15.3, 19.9, 24.6]
                }, {
                    name: 'Notebooks',
                    data: [2.9, 3.2, 4.7, 5.5, 8.9, 12.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                }, {
                    name: 'Desktops',
                    data: [15, 19, 22.7, 29.3, 22.0, 17.0, 23.8, 19.1, 22.1, 14.1, 11.6, 7.5]
                }, {
                    name: 'Music Players',
                    data: [11, 6, 5, 15, 17.0, 22.0, 30.8, 24.1, 14.1, 11.1, 9.6, 6.5]
                }];

                var ecomChart = $('#ecommerce_chart1');
                if (ecomChart.length) {
                    ecomChart.highcharts({
                        credits: false,
                        colors: highColors,
                        chart: {
                            backgroundColor: 'transparent',
                            className: '',
                            type: 'line',
                            zoomType: 'x',
                            panning: true,
                            panKey: 'shift',
                            marginTop: 45,
                            marginRight: 1,
                        },
                        title: {
                            text: null
                        },
                        xAxis: {
                            gridLineColor: '#EEE',
                            lineColor: '#EEE',
                            tickColor: '#EEE',
                            categories: ['Jan', 'Feb', 'Mar', 'Apr',
                              'May', 'Jun', 'Jul', 'Aug',
                              'Sep', 'Oct', 'Nov', 'Dec'
                            ]
                        },
                        yAxis: {
                            min: 0,
                            tickInterval: 5,
                            gridLineColor: '#EEE',
                            title: {
                                text: null,
                            }
                        },
                        plotOptions: {
                            spline: {
                                lineWidth: 3,
                            },
                            area: {
                                fillOpacity: 0.2
                            }
                        },
                        legend: {
                            enabled: true,
                            floating: false,
                            align: 'right',
                            verticalAlign: 'top',
                            x: -15
                        },
                        series: seriesData
                    });
                }

                // Widget VectorMap
                function runVectorMaps() {

                    // Jvector Map Plugin
                    var runJvectorMap = function () {
                        // Data set
                        var mapData = [900, 700, 350, 500];
                        // Init Jvector Map
                        $('#WidgetMap').vectorMap({
                            map: 'us_lcc_en',
                            //regionsSelectable: true,
                            backgroundColor: 'transparent',
                            series: {
                                markers: [{
                                    attribute: 'r',
                                    scale: [3, 7],
                                    values: mapData
                                }]
                            },
                            regionStyle: {
                                initial: {
                                    fill: '#E8E8E8'
                                },
                                hover: {
                                    "fill-opacity": 0.3
                                }
                            },
                            markers: [{
                                latLng: [37.78, -122.41],
                                name: 'San Francisco,CA'
                            }, {
                                latLng: [36.73, -103.98],
                                name: 'Texas,TX'
                            }, {
                                latLng: [38.62, -90.19],
                                name: 'St. Louis,MO'
                            }, {
                                latLng: [40.67, -73.94],
                                name: 'New York City,NY'
                            }],
                            markerStyle: {
                                initial: {
                                    fill: '#a288d5',
                                    stroke: '#b49ae0',
                                    "fill-opacity": 1,
                                    "stroke-width": 10,
                                    "stroke-opacity": 0.3,
                                    r: 3
                                },
                                hover: {
                                    stroke: 'black',
                                    "stroke-width": 2
                                },
                                selected: {
                                    fill: 'blue'
                                },
                                selectedHover: {}
                            },
                        });
                        // Manual code to alter the Vector map plugin to
                        // allow for individual coloring of countries
                        var states = ['US-CA', 'US-TX', 'US-MO',
                          'US-NY'
                        ];
                        var colors = [bgInfo, bgPrimaryLr, bgSuccessLr, bgWarningLr];
                        var colors2 = [bgInfo, bgPrimary, bgSuccess, bgWarning];
                        $.each(states, function (i, e) {
                            $("#WidgetMap path[data-code=" + e + "]").css({
                                fill: colors[i]
                            });
                        });
                        $('#WidgetMap').find('.jvectormap-marker')
                          .each(function (i, e) {
                              $(e).css({
                                  fill: colors2[i],
                                  stroke: colors2[i]
                              });
                          });
                    }

                    if ($('#WidgetMap').length) {
                        runJvectorMap();
                    }
                }

            });
        </script>
        <!-- END: PAGE SCRIPTS -->
</body>
</html>
